__pycache__/
/input/csv/
/input/ods/
/input/xls/
/output/html/
/output/pdf/
/output/png/
/output/svg/
/output/jpg/
/output/jpeg/
/output/webp/
/output/eps/
.vscode/
.idea/
venv/
.venv/

# Exceptions for sample files referenced in README
!input/csv/sample_table.csv
!output/png/Job Title 1.png
!output/png/Job Title 2.png
