__pycache__/
/input/csv/
/input/ods/
/input/xls/
/output/html/
/output/pdf/
/output/png/
/output/svg/
/output/jpg/
/output/jpeg/
/output/webp/
/output/eps/
.vscode/
.idea/
venv/
.venv/

# Exceptions for sample files referenced in README
!input/csv/example_table.csv
!input/csv/example_table_2.csv
!input/ods/sample_market_data.ods
!output/svg/Example Software Engineer.svg
!output/svg/Example Data Scientist.svg
